<div class="blog">
  <h1 class="page-header">Blog Feed</h1>

  <div class="row show-hide-message" *ngIf="message && newPost">
    <div [ngClass]="messageClass">
      {{ message }}
    </div>

  </div>

  <button type="button" name="button" 
          class="btn btn-warning" *ngIf="!newPost" 
          (click) = "newBlogForm()">New Post</button>
  <button [disabled]="loadingBlogs" type="button" 
          name="button" class="btn btn-default" 
          *ngIf="!newPost" (click) = "reloadBlogs()">
          <i class="fa fa-repeat" aria-hidden="true"></i> Reload</button>
  <br>
  <br>

  <!-- new blog form -->
  <form [formGroup]="form" name="blogForm" (submit)="onBlogSubmit()" *ngIf="newPost">
    <div class="form-group">
      <label for="title">Title</label>
      <div class="">
        <input [ngClass]="{
          'is-invalid': (form.controls.title.invalid && form.controls.title.dirty), 
          'is-valid': form.controls.title.valid }" 
          type="text" name="title" class="form-control" placeholder="*Blog Title" 
          autocomplete="off" formControlName="title" />
        <div class="form-control-feedback"
          *ngIf="form.controls.title.errors && (form.controls.title.dirty || form.controls.title.touched)">
          <p *ngIf="form.controls.title.errors.required">Title is required</p>
          <p *ngIf="form.controls.title.errors.minlength">Title must be at least 5 characters long, we need another {{form.controls.title.errors.minlength.requiredLength - form.controls.title.errors.minlength.actualLength}} characters </p>
          <p *ngIf="form.controls.title.errors.maxlength">Title must be no longer than 500 characters. You have {{form.controls.title.errors.maxlength.actualLength - form.controls.title.errors.maxlength.requiredLength}} extra characters </p>
          <p *ngIf="form.controls.title.errors?.alphaNumericValidation && form.controls.title.dirty">Title must be letters or numbers</p>
        </div>
      </div>

      <!-- Body input -->
      <div class="form-group">
          <label for="body">body</label>
          <div class="">
            <textarea [ngClass]="{
              'is-invalid': (form.controls.body.invalid && form.controls.body.dirty), 
              'is-valid': form.controls.body.valid }" 
               name="body" rows="8" cols="80" placeholder="*Body" class="form-control" formControlName="body" >
            </textarea>
            <div class="form-control-feedback"
              *ngIf="form.controls.body.errors && (form.controls.body.dirty || form.controls.body.touched)">
              <p *ngIf="form.controls.body.errors.required">Body is required</p>
              <p *ngIf="form.controls.body.errors.minlength">Body must be at least 5 characters long, we need another {{form.controls.body.errors.minlength.requiredLength - form.controls.body.errors.minlength.actualLength}} characters </p>
              <p *ngIf="form.controls.body.errors.maxlength">Body must be no longer than 50 characters. You have {{form.controls.body.errors.maxlength.actualLength - form.controls.body.errors.maxlength.requiredLength}} extra characters </p>
            </div>
          </div>
        </div>
    </div>

  <button [disabled]="processing" type="button" name="button" (click)="goBack()" class="btn btn-warning">Go Back</button>
  <button [disabled]="processing" type="submit" name="button" class="btn btn-success">Submit</button>

  </form>
  <!-- new blog form -->

  <div *ngIf="!newPost">
    <div class="card" *ngFor="let blog of blogPosts">
      <div class="card-header">
        <h3 class="card-title">{{blog.title}}</h3>
      </div>
      <div class="card-body">
        <p>{{blog.body}}</p>
      </div>
      <div class="card-footer">
        <strong>Posted by: </strong>{{ blog.createdBy }}
        <br />
        <strong>Date: </strong>{{ blog.createdAt | date:'MMM dd, yyy' }}
        <br />
        <div *ngIf="username === blog.createdBy">
          <strong>Likes: </strong>{{ blog.likes }}
          <br />
          <strong>Dislikes: </strong>{{ blog.disLikes }}
          <br />
        </div>
        <a [routerLink]="['/edit-blog/', blog._id]" *ngIf="username === blog.createdBy"><button type="button" name="button" class="btn btn-sm btn-info">Edit</button></a>
        <a [routerLink]="['/delete-blog/', blog._id]" *ngIf="username === blog.createdBy"><button type="button" name="button" class="btn btn-sm btn-danger">Delete</button></a>
        <!-- likes dropdown -->
        <div class="likes-dropdown">
            <span class="dropdown-toggle"></span>
            <span data-toggle="dropdown" >
                Likes: {{blog.likes}}
            </span>
          <button [disabled]="blog.likedBy.indexOf(username) > -1"
          type="button" name="button" class="btn btn-sm btn-success"
            *ngIf="username !== blog.createdBy" (click)="likeBlog(blog._id)">
            <i class="fa fa-thumbs-up" aria-hidden="true" ></i></button>
            <div class="dropdown-menu">
                <a  [routerLink]= "['/user/', liker]" *ngFor="let liker of blog.likedBy" class="dropdown-item" > {{liker}} </a>
              </div>
        </div>
        <!-- dislikes dropdown -->
        <div class="dropdown likes-dropdown">
          <span class="dropdown-toggle"></span>
          <span data-toggle="dropdown" >
              Dislikes: {{blog.disLikes}}
          </span>
            <button [disabled]="blog.disLikedBy.indexOf(username) > -1"  
              type="button" name="button" class="btn btn-sm btn-warning" 
              *ngIf="username !== blog.createdBy" (click)="disLikeBlog(blog._id)">
              <i class="fa fa-thumbs-down" aria-hidden="true" ></i>
            </button>
            <div class="dropdown-menu">
              <a  [routerLink]= "['/user/', disliker]" *ngFor="let disliker of blog.disLikedBy" class="dropdown-item" > {{disliker}} </a>
            </div>
          </div>
      </div>
      <!-- footer End -->

      <ul class="list-group">
        <li class="list-group-item">
            <button [disabled]="newComment.indexOf(blog._id) > -1" 
                    type="button" name="button" class="btn btn-sm btn-danger" 
                    (click)="draftComment(blog._id)">Post Comment</button>
            <br>
            <div *ngIf="newComment.indexOf(blog._id) > -1">
              <br>
              <form [formGroup]="commentForm">
                <textarea name="name" rows="10" cols="30" class="form-control" formControlName="comment" 
                        [ngClass]="{ 'is-invalid': (commentForm.controls.comment.invalid && commentForm.controls.comment.dirty), 
                          'is-valid': commentForm.controls.comment.valid }" ></textarea>
                <div class="form-control-feedback"
                      *ngIf="commentForm.controls.comment.errors && 
                      (commentForm.controls.comment.dirty || commentForm.controls.comment.touched)">
                  <p *ngIf="commentForm.controls.comment.errors.required">Comment is required</p>
                  <p *ngIf="commentForm.controls.comment.errors.minlength">Comment must be at least 1 character long, we need another {{commentForm.controls.comment.errors.minlength.requiredLength - commentForm.controls.comment.errors.minlength.actualLength}} characters </p>
                  <p *ngIf="commentForm.controls.comment.errors.maxlength">Body must be no longer than 200 characters. You have {{commentForm.controls.comment.errors.maxlength.actualLength - commentForm.controls.comment.errors.maxlength.requiredLength}} extra characters </p>
                </div>
                <br>
                <button [disabled]="!commentForm.valid || processing" type="submit" name="button" class="btn btn-sm btn-info" (click)="postComment(blog._id)">Submit Comment</button>
                <button [disabled]="processing" type="button" name="button" class="btn btn-sm btn-danger" (click)="cancelSubmission(blog._id)">Cancel</button>
              </form>
            </div>
            <p *ngIf="enabledComments.indexOf(blog._id) === -1 && blog.comments.length > 0" class="list-group-item">
              <span (click)="expand(blog._id)">
                Show comments&nbsp;&nbsp;
                <i class="fa fa-comment" aria-hidden="true"></i>
              </span>
            </p>
            <p *ngIf="enabledComments.indexOf(blog._id) > -1" class="list-group-item">
              <span (click)="collapse(blog._id)">
                Hide Commments&nbsp;&nbsp;
                <i class="fa fa-comment" aria-hidden="true"></i>
              </span>
            </p>
            <div *ngIf="enabledComments.indexOf(blog._id) > -1">
              <p *ngFor="let comment of blog.comments" class="list-group-item">
                <strong> {{ comment.commentator }}: </strong> {{comment.comment}}
              </p>
            </div>
        </li>
      </ul>
    </div>
  </div>
</div>